<!DOCTYPE html>
<html ng-app="todoApp">
<head >
	<title>TodoApp</title>
	<link rel="stylesheet" type="text/css" href="./assets/styleSheets/bootstrap.css">
        <script type="text/javascript" src="./assets/js/lib/jquery-1.11.3.min.js">
        </script>
        <script type="text/javascript" src="./assets/js/lib/bootstrap.js">
        </script>
        <script type="text/javascript" src="./assets/js/lib/angular.min.js">
        </script>
         <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.min.js"></script>
        <script src=" https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-filter/0.4.7/angular-filter.js">
        </script>
        	<script type="text/javascript" src="http://underscorejs.org/underscore-min.js"></script>
        	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js">
        </script>


</head>
<body ng-controller="todoController">
        <header>
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">TodoApp</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class=""><a ui-sref="todoList">Todolist</a>
                        </li>
                      <!--   <li> <a ui-sref="addTodo"> Addtodo</a>             
                        </li> -->
                    </ul>
                </div>
            </nav>
        </header>
         <div style="margin-top:150px;"  >

			<input type="text" ng-model="newTodo" placeholder="todo">
        	<input type="text" ng-model="todoCatg" placeholder="todo category">
			<button ng-click="addtodo()">addTodo</button>

        	<h1>TodoList</h1>

        	<ul ng-repeat="(key, value) in todosList | groupBy: 'todoCatg'">
					<a ui-sref="todoList.catg({ key: key })">{{key}}</a>
			</ul>
			</div>
       
        <div ui-view></div>

        <script type="text/javascript" src="app.js"></script>
        <script type="text/javascript" src="./controllers/todoController.js"></script>
        <script type="text/javascript" src="./controllers/todosController.js"></script>
        <script type="text/javascript" src="./routes/uiroute.js"></script>
        <script type="text/javascript" src="./service/storage.js"></script>
</body>
</html>

